.App {
  height: 100vh;
  display: grid;
  place-items: center;
}
.calculator{

}

/* header section */

.calculator-result{
  background-color:#423d3d;
  width: 500px;
  height: 150px;
  font-size: 1.5rem;
  display: grid;
  justify-content: end;
  align-content: center;
}
.calculator-result-text{
  padding: 20px;
}
.calculator-result-text input{
  width: 450px;
  height: 100px;
  font-size: 1.5rem;
  text-align: end;
  background-color: #423d3d;
  border: none;
  outline: none;
  color: white;
}
.calculator-result-text input::-webkit-inner-spin-button,
.calculator-result-text input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.calculator-result-text input::placeholder{
  color: white;
}


/* main section */

.row{
  width: 500px;
  height: 70px;
}
.keys{
  width: 25%;
  height: 70px;
  font-weight: bold;
  font-size: 1.05rem;
  border: none;
  background-color: rgb(228, 227, 227);
  cursor: pointer;
}
.keys:hover{
  background-color: aliceblue;
}


